@import "tailwindcss";
@import "tw-animate-css";

img {
  max-width: 100%;
  height: auto;
}

/* globals.css */

.btn-primary {
  @apply bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition;
}

.hero-heading {
  @apply text-4xl md:text-5xl font-extrabold text-black leading-tight;
}

.hero-paragraph {
  @apply text-gray-800 text-lg md:text-xl;
}

.gradient {
  @apply bg-gradient-to-r from-indigo-600 to-blue-500 bg-clip-text text-transparent;
}

.bg {
  @apply flex items-center justify-center bg-indigo-50 px-4;
}

.bg-gradient {
  @apply bg-gradient-to-r from-indigo-600 to-blue-500;
}

.card {
  @apply p-8 max-w-md w-full bg-white rounded-xl shadow-md;
}

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }

  .group-hover\:paused {
    animation-play-state: paused;
  }
}
